# Import Keras as set cntk as backend

In [17]:
import os
os.environ['KERAS_BACKEND'] = 'cntk'
import keras
import cntk

# read the csv file

In [18]:
import pandas as pd
data = pd.read_csv('sample-data.csv')

## view head of csv

In [19]:
data.head()

     ﻿Name  Age Defaulter
0   Pramod   35       Yes
1  Pradeep   45        No
2  Prakash   50        No
3   Dileep   41        No
4       S3   29       Yes

## view tail of csv

In [20]:
data.tail()

    ﻿Name  Age Defaulter
3  Dileep   41        No
4      S3   29       Yes
5      PP   34       Yes
6       P   45        No
7     PPP   22       Yes

### View sample of csv

In [21]:
data.sample()

     ﻿Name  Age Defaulter
1  Pradeep   45        No

# Setup the model

describe the data

In [24]:
data.describe()

            Age
count   8.00000
mean   37.62500
std     9.34937
min    22.00000
25%    32.75000
50%    38.00000
75%    45.00000
max    50.00000

In [25]:


from keras.models import Sequential
model = Sequential()
from keras.layers import Dense
model.add(Dense(12, activation='relu', input_shape=(11,)))

Use SkLearn to split the data

In [29]:
import sklearn
#from sklearn.model_selection import train_test_split 
from sklearn.cross_validation import train_test_split

In [34]:
df_train, df_test = train_test_split(data, train_size=0.8, test_size=0.2)
print(df_train.shape); print(df_test.shape)

(6, 3)
(2, 3)

In [35]:
df_train

     ﻿Name  Age Defaulter
3   Dileep   41        No
2  Prakash   50        No
6        P   45        No
4       S3   29       Yes
5       PP   34       Yes
0   Pramod   35       Yes

In [36]:
df_test

     ﻿Name  Age Defaulter
1  Pradeep   45        No
7      PPP   22       Yes